In [1]:
number = 5

number * 2

10

In [2]:
#an example of a function 

def add(x,y):
    return x+y 
#an example of a function call
add_1 = add(5,6)
print(add_1) #output: 11

11

In [ ]:
#an example of multiply function

def multiply(a, b):
    return a * b

multiply_1 = multiply(5,6)
print(multiply_1) #output: 30

30

In [2]:
# an example of a for loop
numbers=[1,2,3,4,5]

for num in numbers:

        print(num)

1
2
3
4
5

In [2]:
zero_to_three = [0, 1, 2, 3]

zero_to_three

[0, 1, 2, 3]

In [3]:
print(zero_to_three[0])
print(zero_to_three[1])
print(zero_to_three[2])
print(zero_to_three[3])

0
1
2
3

In [ ]:
#using a for loop 
for number in zero_to_three:
    print(number)

0
1
2
3

In [5]:
iteration_count = 0
for whatever_we_want in zero_to_three:
    iteration_count += 1
    print("This is iteration:", iteration_count)
    print(whatever_we_want)
print("The for loop is finished now! I am not in the for loop block, which is why I only printed once!")

This is iteration: 1
0
This is iteration: 2
1
This is iteration: 3
2
This is iteration: 4
3
The for loop is finished now! I am not in the for loop block, which is why I only printed once!

In [ ]:
#using list elements as indices

countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']


for index in [0,1,2,3,4,5,6]:
    print(index)
    print(countries[index])

0
Croatia
1
USA
2
Argentina
3
France
4
Brazil
5
Japan
6
Vietnam

In [ ]:
students = ['Mary', 'Ursula', 'Ariana', 'Francis', 'Bridgit', 'James', 'Viviene']


for student in [0,1,2,3,4,5,6]:
    print(student, students[student])

0 Mary
1 Ursula
2 Ariana
3 Francis
4 Bridgit
5 James
6 Viviene

In [16]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi']

In [17]:
for index in [0,1,2,3,4,5,6]:
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

In [18]:
# calculate size of the list 

len(countries)

7

In [21]:
# create a range object 

range(0, len(countries))

range(0, 7)

In [22]:
# convert range into a list 

list(range(0, len(countries)))

[0, 1, 2, 3, 4, 5, 6]

In [23]:
for index in list(range(0, len(countries))):
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam

In [25]:
# use .append to add an item to the list

countries.append('Mexico')
cities.append('Mexico City')
for index in list(range(0, len(countries))):
    print(cities[index]+",", countries[index])

Zagreb, Croatia
District of Columbia, USA
Buenos Aires, Argentina
Paris, France
Rio de Janeiro, Brazil
Tokyo, Japan
Hanoi, Vietnam
Mexico City, Mexico
Mexico City, Mexico

In [26]:
for idx, item in enumerate(['A', 'B', 'C']):
    print(idx, item)

0 A
1 B
2 C

In [27]:
# iterating through different data types 

different_elements = ['A String', ["a", 'list', "of", 5, ["elements"]], {'this': "is a dictionary"}]
for element in different_elements:
    print(element)

A String
['a', 'list', 'of', 5, ['elements']]
{'this': 'is a dictionary'}

In [33]:
# iterating through a dictionary 

example_dictionary = {
    'first_name': "Terrance",
      'last_name': "KOAR", 
      'favorite_language': "Python",
      'pet_animal': "Dog",
      'age': 25
      }
print(example_dictionary.items())
type(example_dictionary.items())

dict_items([('first_name', 'Terrance'), ('last_name', 'KOAR'), ('favorite_language', 'Python'), ('pet_animal', 'Dog'), ('age', 25)])

dict_items

In [34]:
for key, value in example_dictionary.items():
    print("this is the key:", key)    
    print("this is the value:", value, "\n")

this is the key: first_name
this is the value: Terrance

this is the key: last_name
this is the value: KOAR

this is the key: favorite_language
this is the value: Python

this is the key: pet_animal
this is the value: Dog

this is the key: age
this is the value: 25

In [35]:
first_name = ""
last_name = ""
for key, value in example_dictionary.items():
    if key == "last_name":
        last_name = value.title()
    if key == "first_name":
        first_name = value
print(first_name, last_name)

Terrance Koar

In [36]:
for country in countries:
    print(country)

Croatia
USA
Argentina
France
Brazil
Japan
Vietnam
Mexico
Mexico

In [38]:
for student in students:
    print(student)

Mary
Ursula
Ariana
Francis
Bridgit
James
Viviene

In [39]:
# complete example 

ice_cream_flavors = ['Mint Chocolate Chip', 'Coffee', 'Cookie Dough', 'Fudge Mint Brownie', 'Vanilla Bean']
for ice_cream_flavor in ice_cream_flavors:
    print('I love ' + ice_cream_flavor + ' ice cream!')

I love Mint Chocolate Chip ice cream!
I love Coffee ice cream!
I love Cookie Dough ice cream!
I love Fudge Mint Brownie ice cream!
I love Vanilla Bean ice cream!